body
{
    font-family: 'Overpass', sans-serif;
}
.bannerBg
{
    background-image: url('/img/bannerBg.jpg');
    height:552px;
    background-position: center center;
    .productInfo
    {
        position: absolute;
        top:14%;
        right:30px;
        background-color:#fff;
        border-radius: 6px;
        height:372px;
        width:430px;
        .pdLeft
        {
            padding:20px;
        }
        

        .ProName
        {
            font-size:20px;
            font-weight: bold;
            color:#262626;
            margin-top:10px;
            span
            {
                font-size:12px;
                font-weight: normal;
                color:#888888;
            }
        }
        .Reviews
        {
            font-size:12px;
            font-weight: normal;
            color:#1a9fa5;
            margin-top:3px;
        }
        label
        {
            font-size:12px;
            font-weight: normal;
            color:#949494;
            margin-top:20px;
            margin-bottom:0px;
        }
        select
        {
            border:none;
            border-bottom-color: #ccc;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding-left:0px;
            
        }
        .ProPrice
        {
            color:#262626;
            font-size:20px;
            font-weight: bold;
            margin-top:20px;
            margin-bottom:0px;
        }
        .ViewPrice
        {
            color:#1a9fa5;
            font-size:14px;
            font-weight: bold;
            margin-top:20px;
            margin-bottom:0px;
        }
        .ContactDealer
        {
            border-radius: 5px;
            border: solid 1px #e63a46;
            background-color: #ffffff;
            width: 127px;
            height: 36px;
            color:#e63a46;
            font-size:14px;
            font-weight: bold;
            margin-top:15px;
            &:hover
            {
                border: solid 1px #e63a46;
                background-color: #e63a46;
                color:#fff;
            }
        }
        .ViewAvailableOffers
        {
            border-radius: 5px;
            border: solid 1px #e63a46;
            background-color: #e63a46;
            width: 165px;
            height: 36px;
            color:#fff;
            font-size:14px;
            font-weight: bold;
            margin-top:15px;
            &:hover
            {
                border: solid 1px #e63a46;
                background-color: #fff;
                color:#e63a46;
            }
        }
        .ExpertReview
        {
            
            border-radius: 4px;
            background-color: rgba(20, 128, 22, 0.09);
            width: 420px;
            height: 69px;
            color:#262626;
            font-size:12px;
            font-weight: bold;
            padding-top:20px;
            padding-left:20px;
            span
            {
                color:#148016;
                font-size:12px;
                font-weight: bold;
                margin-top:15px;
            }
            label
            {
                font-size:12px;
                font-weight: normal;
                color:#434343;
                margin-top:20px;
                margin-bottom:0px;
            }
        }
        .rightArrow
        {
            width:100%;
            height:68px;
            background-color: #fff;
            border:1px solid #ccc;
            .fas
            {
                font-size:30px; 
                
            }
        }
    }
}

// Form
.form-control:focus {
    outline: 0;
    border-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pageBreadcrumb
{
    background-color: #f2f2f2;
    .breadcrumb-item {
        + {
            .breadcrumb-item {
                &::before {
                    content: ">";
                }
            }
        }
    }
    .breadcrumb
    {
        background-color: #f2f2f2;
        .breadcrumb-item
        {
            a
            {
                font-size:11px;
                font-weight: normal;
                color:#434343;
                margin-top:4px;
            }
        }
        .breadcrumb-item.active {
            a
            {
                font-size:11px;
                font-weight: normal;
                color:#e63a46;
                margin-top:4px;
            }
        }
    }
}
.KeySpecifications
{
    margin-top:40px;
    h2
    {
        font-size:20px;
        font-weight: bold;
        color:#262626;
    }
    .designArea
    {
        
        .widt20
        {
            width:20%;
            float:left;
            padding-top:20px;
            padding-bottom:20px;
            .graphic
            {
                width:70px;
                height:70px;
                margin:auto;
                // background-color:#c05;
                border-radius:100%;
                img
                {
                    display:block;
                    margin:auto;
                }
            }
            .mileage
            {
                font-size:13px;
                font-weight: normal;
                color:#848484;
                text-align: center;
                margin-top:0px;
            }
            .kmpl
            {
                font-size:16px;
                font-weight: bold;
                color:#262626;
                text-align: center;
                margin-top:5px;
            }
            
        }
        a
            {
                font-size:14px;
                font-weight: bold;
                color:#e63a46;
                margin-left:35px;
            }
    }
    
}

.PrdouctVariants
{
    margin-top:40px;
    h2
    {
        font-size:20px;
        font-weight: bold;
        color:#262626;
        margin-top:5px;
        margin-bottom:20px;
    }
    .outerBox
    {
        border:1px solid #ccc;
        border-radius: 5px;
        height:300px;
        overflow-y: scroll;
    }
    .table
    {
        thead
        {
            background-color: #457c9d;
            font-size:14px;
            font-weight: bold;
            color:#fff;
            th
            {
                padding: 10px 5px;
            }
        }
        tbody
        {
            td
            {
                padding: 10px 5px;
            }
            .col-lg-4
            {
                padding:0px 5px;
            }
            .VariantName
            {
                font-size:12px;
                font-weight: bold;
                color:#262626;
            }
            .showRoomPrice
            {
                font-size:12px;
                font-weight: normal;
                color:#457c9d;
            }
            .viewPrice
            {
                font-size:12px;
                font-weight: bold;
                color:#262626;
            }
            label
            {
                font-size:12px;
                font-weight: normal;
                color:#848484;
                margin-bottom:0px;
            }
            .ProInfo
            {
                font-size:12px;
                font-weight: bold;
                color:#262626;
            }
            a
            {
                font-size:14px;
                font-weight: bold;
                color:#e63a46;
                
            }
        }
    }
}

.LatestUpdate {
    margin-top:50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #848484;
        font-size: 14px;
        strong {
            color: #696969;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.ExpertOpinion {
    margin-top:50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        color: #262626;
        font-size: 16px;
        font-weight: normal;
        width:80%;
        margin:auto;
        margin-top:5px;
        .Performance
        {
            
        }
        .numb
        {
            font-size: 16px;
            font-weight: normal;
            text-align: right;
            float:right;
        }
    }
    .progress
    {
        height:5px;
        width: 80%;
        margin:auto;
        margin-top:10px;
        .progress-bar
        {
            width: 80%;
        }
    }
    .expertName
    {
        color: #262626;
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
    }
    .info
    {
        color: #6d7278;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
    .owl-carousel
    {
        .item
        {
            img
            {
                display: block;
                margin: auto;
                width:130px;
                height:130px;
                margin-top:20px;
            }
        }
    }
    .FeaturesCar1
    {
        background-color: #ebf4fd;
        border:1px solid #026cdf;
        border-radius: 5px;
        height:160px;
        margin-top:10px;
        width:100%;
        padding: 15px;
        h5
        {
            color: #262626;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul
        {
            padding-left:13px;
            li
            {
                color: #6d7278;
                font-weight: normal;
                font-size: 14px;
            }
        }
        a
        {
            color: #026cdf;
            font-weight: normal;
            font-size: 12px;
        }
    }
    .FeaturesCar2
    {
        background-color: #fbebeb;
        border:1px solid #d93a3a;
        border-radius: 5px;
        height:160px;
        margin-top:10px;
        width:100%;
        padding: 15px;
        h5
        {
            color: #262626;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul
        {
            padding-left:13px;
            li
            {
                color: #6d7278;
                font-weight: normal;
                font-size: 14px;
            }
        }
        a
        {
            color: #d93a3a;
            font-weight: normal;
            font-size: 12px;
        }
    }
}
.UserReviews
{
    margin-top:50px;
    .buttons
    {
        margin-top: 30px;
        .CarReview
        {
            color: #e63a46;
            background-color: transparent;
            border:1px solid #e63a46;
            margin-right:5px;
            &:hover
            {
                color: #fff;
                background-color: #e63a46;
                border:1px solid #e63a46;
            }
        }
        .UserReviewsBtn
        {
            color: #fff;
            background-color: #e63a46;
            border:1px solid #e63a46;
            margin-left:5px;
            &:hover
            {
                color: #e63a46;
                background-color: transparent;
                border:1px solid #e63a46;
            }
        }
    }
    
    .nav-tabs {
        .nav-item.show {
            .nav-link {
                color: #e63a46;
                background-color: transparent;
                border:none;
            }
        }
        .nav-link.active {
            color: #e63a46;
            background-color: transparent;
            border:none;
            border-bottom-color:#e63a46;
            border-bottom-width:3px;
            border-bottom-style:solid;
        }
        .nav-item
        {
            color: #000;
            background-color: transparent;
        }
    }    
    .card
    {
        .card-body
        {
            padding:20px 0px;
            .leftArea
            {
                border-right-color: #cfcfcf;
                border-right-style: solid;
                border-right-width: 1px;
                img
                {
                    display:block;
                    margin:auto;
                }
                .uName
                {
                    color: #262626;
                    font-weight: bold;
                    font-size: 14px;   
                    text-align: center;
                    margin-top:10px;
                }
                .lbl
                {
                    color: #a2a2a2;
                    font-weight: normal;
                    font-size: 12px;   
                    text-align: center;
                    margin-top:10px;
                }
                .info
                {
                    color: #262626;
                    font-weight: normal;
                    font-size: 12px;   
                    text-align: center;
                    margin-top:0px;
                }
            }
            .rightArea
            {
                padding:0px 10px 0px 0px;
                h4
                {
                    color: #262626;
                    font-weight: bold;
                    font-size: 16px;   
                    margin-top:15px;
                    text-transform: uppercase;
                }
                p
                {
                    color: #262626;
                    font-weight: normal;
                    font-size: 12px;   
                    margin-top:10px;
                }
            }
            .Feature
            {
                color: #1a9fa5;
                font-weight: bold;
                font-size: 14px;   
                margin-top:10px;
            }
            .FeatureWise
            {
                color: #262626;
                font-weight: bold;
                font-size: 12px;   
                margin-top:5px;
                width:33.3%;
                float:left;
                span
                {
                    color: #898989;
                    font-weight: bold;
                    font-size: 12px;   
                }
            }
            .carImage
            {
                color: #1a9fa5;
                font-weight: bold;
                font-size: 14px;   
                margin-top:10px;
            }
        }

    }
    
}