body {
    font-family: "Overpass", sans-serif;
    
}
.bannerBg {
    background-image: url("../img/bannerBg.jpg");
    height: 552px;
    background-position: center center;
    .mobileBtn
    {
        display: none;
    }
    .productInfo {
        position: absolute;
        top: 0%;
        right: 30px;
        background-color: #fff;
        border-radius: 6px;
        height: 372px;
        width: 430px;
        margin-top:6%;
        .pdLeft {
            padding: 20px;
        }

        .ProName {
            font-size: 20px;
            font-weight: bold;
            color: #262626;
            margin-top: 10px;
            span {
                font-size: 12px;
                font-weight: normal;
                color: #888888;
            }
        }
        .Reviews {
            font-size: 12px;
            font-weight: normal;
            color: #1a9fa5;
            margin-top: 3px;
        }
        label {
            font-size: 12px;
            font-weight: normal;
            color: #949494;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        select {
            border: none;
            border-bottom-color: #ccc;
            border-bottom-style: solid;
            border-bottom-width: 1px;
            padding-left: 0px;
        }
        .ProPrice {
            color: #262626;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        .ViewPrice {
            color: #1a9fa5;
            font-size: 14px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        .ContactDealer {
            border-radius: 5px;
            border: solid 1px #e63a46;
            background-color: #ffffff;
            width: 127px;
            height: 36px;
            color: #e63a46;
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
            &:hover {
                border: solid 1px #e63a46;
                background-color: #e63a46;
                color: #fff;
            }
        }
        .ContactDealerMobile
        {
            background-color: #148016;
            width:48px;
            height:48px;
            border-radius: 100%;
            position: absolute;
            top: -250px;
            right: 10px;
            color:#fff;
            border:1px solid #fff;
            display:none;
        }
        .ViewAvailableOffers {
            border-radius: 5px;
            border: solid 1px #e63a46;
            background-color: #e63a46;
            width: 165px;
            height: 36px;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin-top: 15px;
            &:hover {
                border: solid 1px #e63a46;
                background-color: #fff;
                color: #e63a46;
            }
        }
        .ExpertReview {
            border-radius: 4px;
            background-color: rgba(20, 128, 22, 0.09);
            width: 420px;
            height: 69px;
            color: #262626;
            font-size: 12px;
            font-weight: bold;
            padding-top: 16px;
            padding-left: 10px;
            img
            {
                width:40px;
                float:left;
                margin-right:15px;
            }
            span {
                color: #148016;
                font-size: 12px;
                font-weight: bold;
                margin-top: 15px;
            }
            label {
                font-size: 12px;
                font-weight: normal;
                color: #434343;
                margin-top: 20px;
                margin-bottom: 0px;
            }
        }
        .rightArrow {
            width: 100%;
            height: 68px;
            background-color: #fff;
            border: 1px solid #ccc;
            .fas {
                font-size: 30px;
            }
        }
    }
}

// Form
.form-control:focus {
    outline: 0;
    border-color: transparent !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pageBreadcrumb {
    background-color: #f2f2f2;
    .breadcrumb-item {
        + {
            .breadcrumb-item {
                &::before {
                    content: ">";
                }
            }
        }
    }
    .breadcrumb {
        background-color: #f2f2f2;
        .breadcrumb-item {
            a {
                font-size: 11px;
                font-weight: normal;
                color: #434343;
                margin-top: 4px;
            }
        }
        .breadcrumb-item.active {
            a {
                font-size: 11px;
                font-weight: normal;
                color: #e63a46;
                margin-top: 4px;
            }
        }
    }
}
.KeySpecifications {
    margin-top: 40px;
    width:100%;
    height:auto;
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #262626;
    }
    .designArea {
        .widt20 {
            width: 100%;
            float: left;
            padding-top: 20px;
            padding-bottom: 20px;
            .graphic {
                width: 70px;
                height: 70px;
                margin: auto;
                // background-color:#c05;
                border-radius: 100%;
                img {
                    display: block;
                    margin: auto;
                    width: 70px;
                    height: 70px;
                    
                }
            }
            .mileage {
                font-size: 13px;
                font-weight: normal;
                color: #848484;
                text-align: center;
                margin-top: 10px;
            }
            .kmpl {
                font-size: 16px;
                font-weight: bold;
                color: #262626;
                text-align: center;
                margin-top: 5px;
            }
        }
        a {
            font-size: 14px;
            font-weight: bold;
            color: #e63a46;
            margin-left: 35px;
        }
    }
}

.PrdouctVariants {
    margin-top: 40px;
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #262626;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .outerBox {
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 300px;
        overflow-y: scroll;
    }
    .table {
        thead {
            background-color: #457c9d;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            th {
                padding: 10px 5px;
            }
        }
        tbody {
            td {
                padding: 10px 5px;
            }
            .col-lg-4 {
                padding: 0px 5px;
            }
            .VariantName {
                font-size: 12px;
                font-weight: bold;
                color: #262626;
            }
            .showRoomPrice {
                font-size: 12px;
                font-weight: normal;
                color: #457c9d;
            }
            .viewPrice {
                font-size: 12px;
                font-weight: bold;
                color: #262626;
            }
            label {
                font-size: 12px;
                font-weight: normal;
                color: #848484;
                margin-bottom: 0px;
            }
            .ProInfo {
                font-size: 12px;
                font-weight: bold;
                color: #262626;
            }
            a {
                font-size: 14px;
                font-weight: bold;
                color: #e63a46;
            }
        }
    }
}

.LatestUpdate {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    p {
        color: #848484;
        font-size: 14px;
        strong {
            color: #696969;
            font-size: 14px;
            font-weight: bold;
        }
    }
}
.ExpertOpinion {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p {
        color: #262626;
        font-size: 16px;
        font-weight: normal;
        width: 80%;
        margin: auto;
        margin-top: 5px;
        .Performance {
        }
        .numb {
            font-size: 16px;
            font-weight: normal;
            text-align: right;
            float: right;
        }
    }
    .progress {
        height: 5px;
        width: 80%;
        margin: auto;
        margin-top: 10px;
        .progress-bar {
            width: 80%;
        }
    }
    .expertName {
        color: #262626;
        font-weight: bold;
        font-size: 18px;
        margin-top: 15px;
        text-align: center;
        text-transform: uppercase;
    }
    .info {
        color: #6d7278;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: center;
    }
    .owl-carousel {
        .item {
            img {
                display: block;
                margin: auto;
                width: 130px;
                height: 130px;
                margin-top: 20px;
            }
        }
    }
    .FeaturesCar1 {
        background-color: #ebf4fd;
        border: 1px solid #026cdf;
        border-radius: 5px;
        height: 160px;
        margin-top: 10px;
        width: 100%;
        padding: 15px;
        h5 {
            color: #262626;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 13px;
            li {
                color: #6d7278;
                font-weight: normal;
                font-size: 14px;
            }
        }
        a {
            color: #026cdf;
            font-weight: normal;
            font-size: 12px;
        }
    }
    .FeaturesCar2 {
        background-color: #fbebeb;
        border: 1px solid #d93a3a;
        border-radius: 5px;
        height: 160px;
        margin-top: 10px;
        width: 100%;
        padding: 15px;
        h5 {
            color: #262626;
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 13px;
            li {
                color: #6d7278;
                font-weight: normal;
                font-size: 14px;
            }
        }
        a {
            color: #d93a3a;
            font-weight: normal;
            font-size: 12px;
        }
    }
}
.UserReviews {
    margin-top: 50px;
    .buttons {
        margin-top: 30px;
        .CarReview {
            color: #e63a46;
            background-color: transparent;
            border: 1px solid #e63a46;
            margin-right: 5px;
            &:hover {
                color: #fff;
                background-color: #e63a46;
                border: 1px solid #e63a46;
            }
        }
        .UserReviewsBtn {
            color: #fff;
            background-color: #e63a46;
            border: 1px solid #e63a46;
            margin-left: 5px;
            &:hover {
                color: #e63a46;
                background-color: transparent;
                border: 1px solid #e63a46;
            }
        }
    }

    .nav-tabs {
        .nav-item.show {
            .nav-link {
                color: #e63a46;
                background-color: transparent;
                border: none;
            }
        }
        .nav-link.active {
            color: #e63a46;
            background-color: transparent;
            border: none;
            border-bottom-color: #e63a46;
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
        .nav-item {
            color: #000;
            background-color: transparent;
        }
    }
    .card {
        .card-body {
            padding: 20px 0px;
            .leftArea {
                border-right-color: #cfcfcf;
                border-right-style: solid;
                border-right-width: 1px;
                img {
                    display: block;
                    margin: auto;
                }
                .uName {
                    color: #262626;
                    font-weight: bold;
                    font-size: 14px;
                    text-align: center;
                    margin-top: 10px;
                }
                .fas
                {
                    display: none;
                }
                .lbl {
                    color: #a2a2a2;
                    font-weight: normal;
                    font-size: 12px;
                    text-align: center;
                    margin-top: 10px;
                }
                .info {
                    color: #262626;
                    font-weight: normal;
                    font-size: 12px;
                    text-align: center;
                    margin-top: 0px;
                }
            }
            .rightArea {
                padding: 0px 10px 0px 0px;
                h4 {
                    color: #262626;
                    font-weight: bold;
                    font-size: 16px;
                    margin-top: 15px;
                    text-transform: uppercase;
                }
                .RatingImg
                {
                    color: #ff9e00;
                    font-weight: bold;
                    font-size: 12px;
                } 
                p {
                    color: #262626;
                    font-weight: normal;
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
            .Feature {
                color: #1a9fa5;
                font-weight: bold;
                font-size: 14px;
                margin-top: 10px;
            }
            .FeatureWise {
                color: #262626;
                font-weight: bold;
                font-size: 12px;
                margin-top: 5px;
                width: 33.3%;
                float: left;
                span {
                    color: #898989;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
            .carImage {
                color: #1a9fa5;
                font-weight: bold;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
.TopNotch {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    p {
        color: #262626;
        font-size: 16px;
        font-weight: normal;
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }
    .btn {
        color: #fff;
        background-color: #e63a46;
        border: 1px solid #e63a46;
        margin-top: 15px;
        &:hover {
            color: #e63a46;
            background-color: transparent;
            border: 1px solid #e63a46;
        }
    }

    .owl-carousel {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
        }
        .owl-prev {
            left: -2rem;
        }
        .owl-next {
            right: -2rem;
        }
    }
    .owl-carousel {
        .owl-nav {
            button.owl-prev {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
                span
                {
                    font-size: 30px;
                    line-height: 1;
                }
            }
            button.owl-next {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
                span
                {
                    font-size: 30px;
                    line-height: 1;
                }
            }
        }
        button.owl-dot {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }

    .content {
        position: relative;
        width: 100%;
        max-width: 400px;
        margin: auto;
        overflow: hidden;
        .content-overlay {
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            height: 99%;
            width: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out 0s;
            -moz-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
        }
        &:hover {
            .content-overlay {
                opacity: 1;
            }
            .content-details {
                top: 80%;
                left: 50%;
                opacity: 1;
            }
        }
    }
    .content-image {
        width: 100%;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;

        p {
            color: #fff;
            font-size: 13px;
            font-weight: normal;
            border-left-color: #e63a46;
            border-left-style: solid;
            border-left-width: 2px;
            text-align: left;
            padding-left: 10px;
        }
    }
    .fadeIn-bottom {
        top: 80%;
    }
    .fadeIn-top {
        top: 20%;
    }
    .fadeIn-left {
        left: 20%;
    }
    .fadeIn-right {
        left: 80%;
    }
}

.DealersNearYou {
    margin-top: 50px;

    .owl-carousel {
        .owl-prev,
        .owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 25px;
        }
        .owl-prev {
            left: -2rem;
        }
        .owl-next {
            right: -2rem;
        }
    }
    .owl-carousel {
        .owl-nav {
            button.owl-prev {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
            button.owl-next {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
        }
        button.owl-dot {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            color: #fff;
            width: 40px;
            height: 40px;
        }
    }

    h2 {
        color: #262626;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
        span {
            color: #e63a46;
            font-weight: bold;
            font-size: 20px;
            small {
                color: #888888;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
    .card {
        h6 {
            color: #262626;
            font-size: 16px;
            font-weight: bold;
        }
        p {
            color: #686767;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 10px;
            img {
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .wtsApp {
            color: #42a956;
            font-size: 14px;
            font-weight: bold;
            img {
                width: 20px;
                height: 20px;
                float: left;
                margin-right: 10px;
            }
        }
    }
}
.DiscontinuedModels {
    margin-top: 50px;
    h2 {
        color: #262626;
        font-size: 20px;
        font-weight: bold;
    }
    .card {
        margin-bottom: 10px;
        .card-body {
            padding: 10px;
        }
    }
    a {
        color: #686767;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0px;
        text-decoration: none;
        span {
            float: right;
        }
    }
}
.StillNotSure {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
        color: #262626;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }
    img {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    p {
        color: #262626;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        background-color: #e63a46;
        margin-bottom: 50px;
    }
}

// Right Area
.GetAmazingFinanceOffersSmall {
    margin-top: 50px;
    margin-bottom: 30px;

    h4 {
        color: #262626;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 10px;
        padding-top: 15px;
        text-align: center;
    }
    p {
        color: #868686;
        font-weight: normal;
        font-size: 13px;
        text-align: center;
    }
    .imgArea {
    }
    a {
        color: #e63a46;
        border: 1px solid #e63a46;
        background-color: transparent;
        font-size: 14px;
        padding: 10px;
        text-align: center !important;
        font-weight: bold;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        width: 115px;
        &:hover {
            color: #fff;
            border: 1px solid #e63a46;
            background-color: #e63a46;
            text-decoration: none;
        }
    }
}

.nearByCities {
    margin-top: 30px;
    margin-bottom: 30px;
    .card {
        .card-body {
            padding: 0px;
            h4 {
                color: #262626;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
                padding-top: 15px;
                padding-left: 12px;
            }
            p {
                color: #868686;
                font-weight: normal;
                font-size: 13px;
                text-align: center;
            }
            .head
            {
                background-color: #1e3557;
            }
           .city,.Price
           {
                background-color: #1e3557;
                color: #fff;
                font-weight: normal;
                font-size: 13px;
                padding: 5px 15px;
           }
            .citys
            {
                color: #262626;
                font-weight: normal;
                font-size: 13px;
                margin-bottom: 0px;
                padding-left:15px;
                margin-top:10px;
            }
            .prices
            {
                color: #262626;
                font-weight: normal;
                font-size: 13px;
                margin-bottom: 0px;
                padding-left:15px;
                margin-top:10px;
            }
            
            
        }
    }
}
.TrendingToyotaCars {
    margin-top: 30px;
    margin-bottom: 30px;
    .card {
        .card-body {
            padding: 0px;
            h4 {
                color: #262626;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 10px;
                padding-top: 15px;
                padding-left: 15px;
            }
            p {
                color: #868686;
                font-weight: normal;
                font-size: 13px;
                text-align: center;
            }
            ul {
                background-color: rgba(30, 53, 87, 0.89);
                text-align: center;
                li {
                    a {
                        color: #fff;
                        padding: 10px;
                        font-size: 12px;
                        font-weight: normal;
                    }
                }
            }
            .nav-pills {
                .nav-link.active {
                    background-color: #0d2241;
                    color: #fff;
                }
            }
            .tab-content {
                img {
                    float: left;
                    border-radius: 5px;
                    width: 85px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
                .ModalName {
                    font-size: 13px;
                    color: #262626;
                    padding-top: 10px;
                }
                p {
                    font-size: 12px;
                    color: #848484;
                    text-align: left;
                }
            }
        }
    }
}
.MonthlyInstallmentFortuner {
    margin-top: 30px;
    margin-bottom: 30px;
    .Monthlyinstallment {
        color: #262626;
        font-weight: bold;
        font-size: 16px;
        margin-top: 0px;
    }
    p {
        color: #262626;
        font-weight: normal;
        font-size: 12px;
        margin-bottom: 10px;
    }
    strike {
        color: #6d7278;
        font-weight: normal;
        font-size: 10px;
        margin-top: 0px;
    }
    img {
        margin-top: 20px;
    }
}

@media screen and (max-width:768px)
{
    .bannerBg {
        background-image: url("../img/smallBg.jpg");
        min-height: 500px;
        height: auto;
        background-repeat: no-repeat;
        background-position: top center;
        width:100%;
        .mobileBtn
        {
            display: block;
            z-index: 1;
            padding:10px;
            width: 50%;
            height: auto;
            margin-top:200px;
            .btn360
            {
                font-size: 12px;
                color:#fff;
                background-color: rgba(255,255,255,0.2);
                border-radius: 0px;
                padding-top:5px;
                display: inline-block;
                img
                {
                    width: 20px;
                }
            }
            .btnColor
            {
                font-size: 12px;
                color:#fff;
                background-color: rgba(255,255,255,0.2);
                border-radius: 0px;
                padding-top:5px;
                display: inline-block;
                img
                {
                    width: 13px;
                }
            }
        }
        .productInfo {
            position: static;
            background-color: #fff;
            border-radius: 0px;
            padding-bottom:20px;
            width: 100%;
            height: auto;
            margin-top:0px;
            .pdLeft {
                padding: 20px;
            }
    
            .ProName {
                font-size: 20px;
                font-weight: bold;
                color: #262626;
                margin-top: 0px;
                span {
                    font-size: 12px;
                    font-weight: normal;
                    color: #888888;
                }
            }
            .Reviews {
                font-size: 12px;
                font-weight: normal;
                color: #ff9e00;
                margin-top: 3px;
            }
            label {
                font-size: 12px;
                font-weight: normal;
                color: #949494;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            select {
                border: none;
                border-bottom-color: #ccc;
                border-bottom-style: solid;
                border-bottom-width: 1px;
                padding-left: 0px;
            }
            .ProPrice {
                color: #262626;
                font-size: 20px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 0px;
            }
            .ViewPrice {
                color: #1a9fa5;
                font-size: 14px;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 0px;
                text-align: right;
            }
            .ContactDealer {
                display:none;
                border-radius: 5px;
                border: solid 1px #e63a46;
                background-color: #ffffff;
                width: 127px;
                height: 36px;
                color: #e63a46;
                font-size: 14px;
                font-weight: bold;
                margin-top: 15px;
                &:hover {
                    border: solid 1px #e63a46;
                    background-color: #e63a46;
                    color: #fff;
                }
            }
            .ContactDealerMobile
            {
                background-color: #148016;
                width:48px;
                height:48px;
                border-radius: 100%;
                position: absolute;
                top: -250px;
                right: 10px;
                color:#fff;
                border:1px solid #fff;
            }
            .ViewAvailableOffers {
                border-radius: 5px;
                border: solid 1px #e63a46;
                background-color: #e63a46;
                width: 100%;
                height: 36px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                margin:auto;
                margin-top: 20px;
                margin-bottom: 30px;
                &:hover {
                    border: solid 1px #e63a46;
                    background-color: #fff;
                    color: #e63a46;
                }
            }
            .ExpertReview {
                border-radius: 4px;
                background-color: rgba(20, 128, 22, 0.09);
                width: 100%;
                height: auto;
                color: #262626;
                font-size: 12px;
                font-weight: bold;
                padding:10px;
                padding-right:0px;
                span {
                    color: #148016;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 15px;
                }
                label {
                    font-size: 12px;
                    font-weight: normal;
                    color: #434343;
                    margin-top: 20px;
                    margin-bottom: 0px;
                }
                img
                {
                    width:35px;
                    float:left;
                    margin-right: 10px;
                }
            }
            .rightArrow {
                width: 100%;
                height: auto;
                padding:12px 10px;
                background-color: #fff;
                border: 1px solid #ccc;
                .fas {
                    font-size: 30px;
                }
            }
        }
    }
    .KeySpecifications {
        margin-top: 10px;
        width:100%;
        height:auto;
        h2 {
            font-size: 20px;
            font-weight: bold;
            color: #262626;
        }
        .designArea {
            .widt20 {
                width: 100%;
                float: left;
                padding-top: 10px;
                padding-bottom: 10px;
                .graphic {
                    width: 70px;
                    height: auto;
                    margin: auto;
                    border-radius: 100%;
                    img {
                        display: block;
                        margin: auto;
                        width:50px;
                        height:50px;
                        margin-bottom: 5px;
                    }
                }
                .mileage {
                    font-size: 12px;
                    font-weight: normal;
                    color: #848484;
                    text-align: center;
                    
                }
                .kmpl {
                    font-size: 16px;
                    font-weight: bold;
                    color: #262626;
                    text-align: center;
                    margin-top: 5px;
                }
            }
            a {
                font-size: 14px;
                font-weight: bold;
                color: #e63a46;
                margin-left: 12px;
            }
        }
    }
    .ExpertOpinion {
        margin-top: 50px;
        .card
        {
            .card-body
            {
                padding:10px;
            }
        }
        h2 {
            color: #262626;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        p {
            color: #262626;
            font-size: 12px;
            font-weight: normal;
            width: 80%;
            margin: auto;
            margin-top: 5px;
            .Performance {
            }
            .numb {
                font-size: 10px;
                font-weight: normal;
                text-align: right;
                float: right;
            }
        }
        .progress {
            height: 5px;
            width: 80%;
            margin: auto;
            margin-top: 10px;
            .progress-bar {
                width: 80%;
            }
        }
        .expertName {
            color: #262626;
            font-weight: bold;
            font-size: 14px;
            margin-top: 15px;
            text-align: center;
            text-transform: uppercase;
        }
        .info {
            color: #6d7278;
            font-weight: normal;
            font-size: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .owl-carousel {
            .item {
                img {
                    display: block;
                    margin: auto;
                    width: 90px;
                    height: 90px;
                    margin-top: 20px;
                }
            }
        }
        .FeaturesCar1 {
            background-color: #ebf4fd;
            border: 1px solid #026cdf;
            border-radius: 5px;
            height: auto;
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            h5 {
                color: #262626;
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 13px;
                margin-bottom:0px;
                li {
                    color: #6d7278;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            a {
                color: #026cdf;
                font-weight: normal;
                font-size: 12px;
            }
        }
        .FeaturesCar2 {
            background-color: #fbebeb;
            border: 1px solid #d93a3a;
            border-radius: 5px;
            height: auto;
            margin-top: 10px;
            width: 100%;
            padding: 10px;
            h5 {
                color: #262626;
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 10px;
            }
            ul {
                padding-left: 13px;
                margin-bottom:0px;
                li {
                    color: #6d7278;
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            a {
                color: #d93a3a;
                font-weight: normal;
                font-size: 12px;
            }
        }
    }
    .UserReviews {
        margin-top: 50px;
        .buttons {
            margin-top: 14px;
            text-align: center;
            .CarReview {
                color: #e63a46;
                background-color: transparent;
                border: 1px solid #e63a46;
                margin-left: 5px;
                font-size:14px;
                &:hover {
                    color: #fff;
                    background-color: #e63a46;
                    border: 1px solid #e63a46;
                }
            }
            .UserReviewsBtn {
                color: #fff;
                background-color: #e63a46;
                border: 1px solid #e63a46;
                margin-right: 5px;
                font-size:14px;
                &:hover {
                    color: #e63a46;
                    background-color: transparent;
                    border: 1px solid #e63a46;
                }
            }
        }
    
        .nav-tabs {
            
            .nav-item.show {
                .nav-link {
                    color: #e63a46;
                    background-color: transparent;
                    border: none;
                }
            }
            .nav-link.active {
                color: #e63a46;
                background-color: transparent;
                border: none;
                border-bottom-color: #e63a46;
                border-bottom-width: 3px;
                border-bottom-style: solid;
            }
            .nav-item {
                color: #000;
                background-color: transparent;
            }
        }
        .card {
            margin-top:50px;
            .card-body {
                padding: 20px 0px;
                .leftArea {
                    border:none;
                    border-bottom-color: #cfcfcf;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    width: 90%;
                    margin:auto;
                    padding-bottom: 15px;
                    img {
                        display: block;
                        margin-left:0px;
                        position:absolute;
                        top:-50px;
                        
                    }
                    .fas
                    {
                        display:inline-block;
                        color:#999999;
                        margin-right: 5px;
                    }
                    .uName {
                        color: #262626;
                        font-weight: bold;
                        font-size: 14px;
                        text-align: left;
                        margin-top: 20px;
                    }
                    .lbl {
                        display: none;
                        color: #a2a2a2;
                        font-weight: normal;
                        font-size: 12px;
                        text-align: left;
                        margin-top: 0px;
                    }
                    .info {
                        color: #262626;
                        font-weight: normal;
                        font-size: 12px;
                        text-align: left;
                        margin-top: 0px;
                    }
                }
                .rightArea {
                    padding: 0px 10px 0px 10px;
                    .RatingImg
                    {
                        color: #ff9e00;
                        font-weight: bold;
                        font-size: 12px;
                    }   
                    h4 {
                        color: #262626;
                        font-weight: bold;
                        font-size: 12px;
                        margin-top: 15px;
                        margin-bottom: 4px;
                        text-transform: uppercase;
                    }
                    p {
                        color: #262626;
                        font-weight: normal;
                        font-size: 12px;
                        margin-top: 2px;
                        margin-bottom:8px;
                    }
                }
                .Feature {
                    color: #1a9fa5;
                    font-weight: bold;
                    font-size: 14px;
                    margin-top: 0px;
                }
                .FeatureWise {
                    color: #262626;
                    font-weight: bold;
                    font-size: 12px;
                    margin-top: 5px;
                    width: 50%;
                    float: left;
                    span {
                        color: #898989;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
                .carImage {
                    color: #1a9fa5;
                    font-weight: bold;
                    font-size: 14px;
                    margin-top: 10px;
                    display: none;
                }
            }
        }
    }
    .TopNotch {
        margin-top: 40px;
        h2 {
            color: #262626;
            font-weight: bold;
            font-size: 19px;
            margin-bottom: 20px;
            margin-top: 10px;
        }
        p {
            color: #262626;
            font-size: 16px;
            font-weight: normal;
            width: 80%;
            margin: auto;
            margin-top: 5px;
        }
        .btn {
            color: #fff;
            background-color: #e63a46;
            border: 1px solid #e63a46;
            font-size:14px;
            width:95%;
            display: block;
            margin:auto;
            margin-top: 23px;
            &:hover {
                color: #e63a46;
                background-color: transparent;
                border: 1px solid #e63a46;
            }
        }
    
        .owl-carousel {
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                display:none;
            }
            .owl-prev {
                left: -2rem;
            }
            .owl-next {
                right: -2rem;
            }
        }
        .owl-carousel {
            .owl-nav {
                button.owl-prev {
                    background: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    span
                    {
                        font-size: 30px;
                        line-height: 1;
                    }
                }
                button.owl-next {
                    background: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                    span
                    {
                        font-size: 30px;
                        line-height: 1;
                    }
                }
            }
            button.owl-dot {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
        }
    
        .content {
            position: relative;
            width: 100%;
            max-width: 400px;
            margin: auto;
            overflow: hidden;
            .content-overlay {
                background: rgba(0, 0, 0, 0.7);
                position: absolute;
                height: 99%;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }
            &:hover {
                .content-overlay {
                    opacity: 1;
                }
                .content-details {
                    top: 80%;
                    left: 50%;
                    opacity: 1;
                }
            }
        }
        .content-image {
            width: 100%;
        }
        .content-details {
            position: absolute;
            text-align: center;
            padding-left: 1em;
            padding-right: 1em;
            width: 100%;
            top: 50%;
            left: 50%;
            opacity: 0;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
    
            p {
                color: #fff;
                font-size: 13px;
                font-weight: normal;
                border-left-color: #e63a46;
                border-left-style: solid;
                border-left-width: 2px;
                text-align: left;
                padding-left: 10px;
            }
        }
        .fadeIn-bottom {
            top: 80%;
        }
        .fadeIn-top {
            top: 20%;
        }
        .fadeIn-left {
            left: 20%;
        }
        .fadeIn-right {
            left: 80%;
        }
    }
    .DealersNearYou {
        margin-top: 50px;
    
        .owl-carousel {
            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                display:none;
            }
            .owl-prev {
                left: -2rem;
            }
            .owl-next {
                right: -2rem;
            }
        }
        .owl-carousel {
            .owl-nav {
                button.owl-prev {
                    background: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                }
                button.owl-next {
                    background: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: #fff;
                    width: 40px;
                    height: 40px;
                }
            }
            button.owl-dot {
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
                width: 40px;
                height: 40px;
            }
        }
    
        h2 {
            color: #262626;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 20px;
            span {
                color: #e63a46;
                font-weight: bold;
                font-size: 20px;
                small {
                    color: #888888;
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
        .card {
            h6 {
                color: #262626;
                font-size: 16px;
                font-weight: bold;
            }
            p {
                color: #686767;
                font-size: 10px;
                font-weight: normal;
                margin-bottom: 8px;
                img {
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin-right: 7px;
                    margin-bottom: 0px;

                }
            }
    
            .wtsApp {
                color: #42a956;
                font-size: 10px;
                font-weight: bold;
                img {
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin-right: 10px;
                    margin-top:5px;
                }
            }
        }
    }
    .DiscontinuedModels {
        margin-top: 35px;
        h2 {
            color: #262626;
            font-size: 20px;
            font-weight: bold;
        }
        .card {
            margin-bottom: 10px;
            .card-body {
                padding: 6px 10px;
            }
        }
        a {
            color: #686767;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 0px;
            text-decoration: none;
            span {
                float: right;
            }
        }
    }
}